.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s;
}
.ex-1-square:hover{
    background: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-2-square:active{
    width: 100%;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-3-square:hover{
border-radius: 100%;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-4-square:hover{
    opacity: 0;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}
.ex-5-square:hover{
height: 120px;
width: 120px;
}
.ex-5-square:active{
    height: 30px;
    width: 30px;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale();
}

.ex-7-img{
    transition: filter 2s;
}
.ex-7-img:hover{
    filter: grayscale();
}

.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(6) sepia(5);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 2s;
}
.ex-9-img:hover{
filter: grayscale(6) sepia(5);
border-radius: 20px;
transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: rotation 1s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: rotation_1 1s linear 1;
}

@keyframes rotation_1{
    0% {
        transform: rotate(0deg);
    }
    65%{
        transform: rotate(270deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: X_translation 2s linear 1;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: X_translation_2 2s linear 1;
}

.ex-13-button:hover .ex-13-top-white{
    animation: translation_3 3s linear 1;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: translation_4 3s linear 1;
}

@keyframes X_translation{
    0% {
        transform: translateX(0px);
    }
    45%{
        transform: translateX(116px);
    }
    55%{
        transform: translateX(116px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes X_translation_2{
    0% {
        transform: translateX(0px);
    }
    45%{
        transform: translateX(-96px);
    }
    55%{
        transform: translateX(-96px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes translation_3{
    0% {
        transform: translate(0px, 0px);
    }
    20%{
        transform: translate(150px, 0px);
    }
    40%{
        transform: translate(150px, 70px);
    }
    60%{
        transform: translate(-50px, 70px);
    }
    80%{
        transform: translate(-50px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes translation_4{
    0% {
        transform: translate(0px, 0px);
    }
    20%{
        transform: translate(-130px, 0px);
    }
    40%{
        transform: translate(-130px, -70px);
    }
    60%{
        transform: translate(70px, -70px);
    }
    80%{
        transform: translate(70px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
